@import './common';
@import './example';

@import './utils/mixins';
@import './utils/variables';

@import './base/global';
@import './base/modal';

@import './components/hero-header';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';