<section class="about section about--overlay" id="about">
  <div class="container">
    <p class="about__uppertitle">tradition and love</p>
    <h2 class="about__title title--anim">how it's made?</h2>
    <div class="about__container">
      <div class="about__container--img">
        <picture>
          <source
            srcset="
              ./images/about/mobile/1x/home-pic1x-webp.webp 1x,
              ./images/about/mobile/2x/home-pic2x-webp.webp 2x,
              ./images/about/mobile/3x/home-pic3x-webp.webp 3x
            "
            media="(max-width: 767.98px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/mobile/1x/home-pic1x.png 1x,
              ./images/about/mobile/2x/home-pic2x.png 2x,
              ./images/about/mobile/3x/home-pic3x.png 3x
            "
            media="(max-width: 767.98px)"
            type="image/ipg"
          />
          <source
            srcset="
              ./images/about/tablet/1x/home-pic1x-webp.webp 1x,
              ./images/about/tablet/2x/home-pic2x-webp.webp 2x,
              ./images/about/tablet/3x/home-pic3x-webp.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/tablet/1x/home-pic1x.png 1x,
              ./images/about/tablet/2x/home-pic2x.png 2x,
              ./images/about/tablet/3x/home-pic3x.png 3x
            "
            media="(min-width:
          768px)"
            type="image/ipg"
          />
          <source
            srcset="
              ./images/about/desktop/1x/home-pic1x-webp.webp 1x,
              ./images/about/desktop/2x/home-pic2x-webp.webp 2x,
              ./images/about/desktop/3x/home-pic3x-webp.webp 3x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/desktop/1x/home-pic1x.png 1x,
              ./images/about/desktop/2x/home-pic2x.png 2x,
              ./images/about/desktop/3x/home-pic3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/ipg"
          />
          <img
            class="about__img"
            src="./images/about/desktop/2x/home-pic2x.png"
            alt="You can see a Cow and some Milk"
          />
        </picture>
      </div>
      <div class="about__content">
        <p class="about__subtitle">
          We have been working for 10 years. Our clients become our partners and
          bring their loved ones. We are very proud of our achievements.
        </p>
        <p class="about__description">
          How did we get started? First we opened our first cafe, it was very
          scary that people would not like our products. We have established
          contacts with certified suppliers of homemade dairy products. We
          developed, opened more and more cafes and we decided to open our own
          farm.
        </p>
        <p class="about__additional">
          You can see them on the map:
          <a
            class="about__description--link"
            href="https://goo.gl/maps/DoXyVDVoQpJnmiSt6"
            target="_blank"
            rel="noopener noreferrer"
            >clicking here will take you to the map.</a
          >
          We have developed a network of deliveries to the home, to the office.
        </p>
        <button class="about__button js-open-modal" data-modal="2">
          Read more
          <svg class="about__icon" width="10" height="10">
            <use href="./images/icon-sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="modal modal--about" data-modal="2">
      <p class="modal__content">
        You motivate us by buying our products, we are very happy to see your
        happy eyes with a milkshake in your hands. If you want to learn more
        about our products, share ideas or new recipes, send contacts.
      </p>
      <div class="form__container">
        <button class="modal__btn js-modal-close">
          <svg class="modal__icon" width="12" height="15">
            <use href="./images/icon-sprite.svg#icon-cross"></use>
          </svg>
        </button>
        <strong class="modal__title">Find out more</strong>
        <form class="form" autocomplete="off">
          <label class="form__group">
            <span class="form__label">Name</span>
            <input
              class="form__input"
              type="text"
              name="user-name"
              minlength="3"
              placeholder="&nbsp;"
              required
            />
            <span class="alert__warning">
              The name must be at least 3 characters long
            </span>
            <svg class="alert__icon--warning" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-two-ice-creams"></use>
            </svg>
            <span class="alert__error"> You entered incorrect data </span>
            <svg class="alert__icon--error" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-ice-cream"></use>
            </svg>
            <svg class="alert__icon--user" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-person"></use>
            </svg>
          </label>
          <label class="form__group">
            <span class="form__label">Phone</span>
            <input
              class="form__input"
              type="tel"
              name="user-phone"
              minlength="3"
              placeholder="&nbsp;"
              required
            />
            <span class="alert__warning warning">
              Enter your phone number in the format +38 097 111 11 11
            </span>
            <svg class="alert__icon--warning" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-two-ice-creams"></use>
            </svg>
            <span class="alert__error"> You entered incorrect data</span>
            <svg class="alert__icon--error" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-ice-cream"></use>
            </svg>
            <svg class="alert__icon--user" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-phone"></use>
            </svg>
          </label>
          <label class="form-policy">
            <input
              class="form-policy__input hidden"
              type="checkbox"
              name="policy"
              required
            />
            <svg class="form-policy__icon" width="15" height="15">
              <use href="./images/icon-sprite.svg#icon-check-mark"></use>
            </svg>
            <span class="form-policy__check">
              I agree with the
              <a
                class="form-policy--link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Privacy Statement</a
              >
            </span>
          </label>
          <button class="form__btn about__button" type="submit">send</button>
        </form>
      </div>
    </div>
    <div class="about__bubbles--animation">
      <svg class="about__bubbles" viewBox="0 0 122.52 106.2" width="400">
        <g class="move-buble">
          <path
            d="M59.17,7.9a7.47,7.47,0,0,1-2.3,5.5,7.31,7.31,0,0,1-5.5,2.2,8,8,0,0,1-5.5-2.2,7.11,7.11,0,0,1-2.3-5.5A7.57,7.57,0,0,1,46,2.3a7.73,7.73,0,0,1,11,0A8.4,8.4,0,0,1,59.17,7.9Z"
            style="fill: #ffb8ca"
          />
          <path
            d="M36,29.1a3,3,0,0,1-.8,2,2.84,2.84,0,0,1-4-.1,2.73,2.73,0,0,1-.8-1.9,2.32,2.32,0,0,1,.9-1.9,2.72,2.72,0,0,1,3.9,0A2.09,2.09,0,0,1,36,29.1Z"
            style="fill: #f98ca5"
          />
          <path
            d="M67.07,58.7a3.1,3.1,0,0,1-1,2.4,3.47,3.47,0,0,1-2.5,1,3.61,3.61,0,0,1-3.5-3.5,3.47,3.47,0,0,1,1-2.5,3.1,3.1,0,0,1,2.4-1A3.52,3.52,0,0,1,67.07,58.7Z"
            style="fill: #ffb8ca"
          />
          <path
            d="M59.17,7.9a7.47,7.47,0,0,1-2.3,5.5,7.31,7.31,0,0,1-5.5,2.2,8,8,0,0,1-5.5-2.2,7.11,7.11,0,0,1-2.3-5.5A7.57,7.57,0,0,1,46,2.3a7.73,7.73,0,0,1,11,0A8.4,8.4,0,0,1,59.17,7.9Z"
            style="fill: #fefcff"
          />
          <path
            d="M78.57,41.5a4.31,4.31,0,0,1-1.4,3.2,4.71,4.71,0,0,1-6.6,0h0a4.31,4.31,0,0,1-1.4-3.2,4.69,4.69,0,0,1,4.7-4.7A4.63,4.63,0,0,1,78.57,41.5Z"
            style="fill: #ffb8ca"
          />
          <path
            d="M78.57,41.5a4.31,4.31,0,0,1-1.4,3.2,4.71,4.71,0,0,1-6.6,0h0a4.31,4.31,0,0,1-1.4-3.2,4.69,4.69,0,0,1,4.7-4.7A4.63,4.63,0,0,1,78.57,41.5Z"
            style="fill: #fefcff"
          />
          <path
            d="M78.57,41.5a4.31,4.31,0,0,1-1.4,3.2,4.71,4.71,0,0,1-6.6,0h0a4.31,4.31,0,0,1-1.4-3.2,4.69,4.69,0,0,1,4.7-4.7A4.63,4.63,0,0,1,78.57,41.5Z"
            style="fill: #f98ca5"
          />
          <path
            d="M78.57,41.5a4.31,4.31,0,0,1-1.4,3.2,4.71,4.71,0,0,1-6.6,0h0a4.31,4.31,0,0,1-1.4-3.2,4.69,4.69,0,0,1,4.7-4.7A4.63,4.63,0,0,1,78.57,41.5Z"
            style="fill: #fefcff"
          />
        </g>
      </svg>
    </div>
  </div>
</section>
