<section class="about section about--overlay" id="about">
  <div class="container">
    <p class="about__uppertitle">tradition and love</p>
    <h2 class="about__title">how it's made?</h2>
    <div class="about__container">
      <div class="about__container--img">
        <picture>
          <source
            srcset="
              ./images/about/mobile/1x/home-pic1x-webp.webp 1x,
              ./images/about/mobile/2x/home-pic2x-webp.webp 2x,
              ./images/about/mobile/3x/home-pic3x-webp.webp 3x
            "
            media="(max-width: 767.98px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/mobile/1x/home-pic1x.png 1x,
              ./images/about/mobile/2x/home-pic2x.png 2x,
              ./images/about/mobile/3x/home-pic3x.png 3x
            "
            media="(max-width: 767.98px)"
            type="image/ipg"
          />
          <!-- <source
            srcset="
              ./images/about/tablet/1x/home-pic1x-webp.webp 1x,
              ./images/about/tablet/2x/home-pic2x-webp.webp 2x,
              ./images/about/tablet/3x/home-pic3x-webp.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/tablet/1x/home-pic1x.png 1x,
              ./images/about/tablet/2x/home-pic2x.png 2x,
              ./images/about/tablet/3x/home-pic3x.png 3x
            "
            media="(min-width:
          768px)"
            type="image/ipg"
          />
          <source
            srcset="
              ./images/about/desktop/1x/home-pic1x-webp.webp 1x,
              ./images/about/desktop/2x/home-pic2x-webp.webp 2x,
              ./images/about/desktop/3x/home-pic3x-webp.webp 3x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/desktop/1x/home-pic1x.png 1x,
              ./images/about/desktop/2x/home-pic2x.png 2x,
              ./images/about/desktop/3x/home-pic3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/ipg"
          /> -->
          <img
            class="about__img"
            src="./images/about/tablet/2x/home-pic2x.png"
            alt="You can see a Cow and some Milk"
          />
        </picture>
      </div>
      <div class="about__content">
        <p class="about__subtitle">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__additional">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="about__button js-open-modal" data-modal="2">
          Read more
          <svg
            class="about__icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 49.656 49.656"
            width="11"
            heigth="11"
          >
            <path
              d="m14.535 48.242-2.828-2.828 20.585-20.586L11.707 4.242l2.828-2.828 23.414 23.414z"
            />
            <path
              d="m14.535 49.656-4.242-4.242 20.585-20.586L10.293 4.242 14.535 0l24.829 24.828-24.829 24.828zm-1.414-4.242 1.414 1.414 22-22-22-22-1.414 1.414 20.585 20.586-20.585 20.586z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="modal" data-modal="2">
      <p class="modal__content">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
      </p>
      <div class="form__container">
        <button class="modal__btn js-modal-close">
          <svg class="modal__icon" width="12" height="15">
            <use href="./images/icon-sprite.svg#icon-cross"></use>
          </svg>
        </button>
        <strong class="modal__title">Find out more</strong>
        <form class="form" autocomplete="off">
          <label class="form__group">
            <span class="form__label">Name</span>
            <input
              class="form__input"
              type="text"
              name="user-name"
              minlength="3"
              placeholder=" "
              required
            />
            <span class="alert__warning">
              The name must be at least 3 characters long
            </span>
            <svg class="alert__icon--warning" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-two-ice-creams"></use>
            </svg>
            <span class="alert__error"> You entered incorrect data </span>
            <svg class="alert__icon--error" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-ice-cream"></use>
            </svg>
            <svg class="alert__icon--user" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-person"></use>
            </svg>
          </label>
          <label class="form__group">
            <span class="form__label">Phone</span>
            <input
              class="form__input"
              type="tel"
              name="user-phone"
              minlength="3"
              placeholder=" "
              required
            />
            <span class="alert__warning warning">
              Enter your phone number in the format +38 097 111 11 11
            </span>
            <svg class="alert__icon--warning" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-two-ice-creams"></use>
            </svg>
            <span class="alert__error"> You entered incorrect data</span>
            <svg class="alert__icon--error" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-ice-cream"></use>
            </svg>
            <svg class="alert__icon--user" width="20" height="20">
              <use href="./images/icon-sprite.svg#icon-phone"></use>
            </svg>
          </label>
          <label class="form-policy">
            <div class="form-policy__container">
              <input
                class="form-policy__checkbox hidden"
                type="checkbox"
                name="policy"
                required
              />
              <svg
                class="form-policy__icon form-policy__icon--check"
                width="20"
                height="20"
              >
                <use href="./images/icon-sprite.svg#icon-check-mark"></use>
              </svg>
              <span class="form-policy__icon form-policy__icon--uncheck"></span>
            </div>
            <div class="form-policy__check">
              I agree with the
              <a
                class="form-policy--link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Privacy Statement</a
              >
            </div>
          </label>
          <button class="form__btn about__button" type="submit">submit</button>
        </form>
      </div>
    </div>
    <div class="overlay js-overlay-modal"></div>
  </div>
</section>
