<section class="advantages section">
  <div class="container">
        <h2 class="hidden">Наши преимущества</h2>
        <div class="advantage">
            <div class="advantage__title">
                
            </div>
            <p class="advantage__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantage">
            <div class="advantage__title">

            </div>
            <p class="advantage__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantage">
            <div class="advantage__title">
                
            </div>
            <p class="advantage__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
  </div>
</section>
