<section id="advantages" class="advantages section">
  <div class="container">
    <h2 class="hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantage">
        <div class="advantage__title t_1 number" data-num="761">761</div>
        <p class="advantage__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage">
        <div class="advantage__title t_2 number" data-num="16">16</div>
        <p class="advantage__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage">
        <div class="advantage__title t_3 number" data-num="84">84</div>
        <p class="advantage__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>