<section id="advantages" class="advantages section">
  <div class="container">
    <h2 class="hidden">Наши преимущества</h2>
    <ul class="advantages__list">
      <li class="advantage">
        <h3 class="advantage__title t_1">761</h3>
        <p class="advantage__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage">
        <h3 class="advantage__title t_2">16kg</h3>
        <p class="advantage__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage">
        <h3 class="advantage__title t_3">84</h3>
        <p class="advantage__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
