<section class="reviews section">
    <h2 class="hidden">Customer reviews</h2>
    <div class="container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_1.jpg" alt="Girl in the caffee">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <h3 class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </h3>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Tatiana, Los Angeles</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_2.jpg" alt="Man in the caffee">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <h3 class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </h3>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Alexandr, San Francisco</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_3.jpg"
                        alt="Man on a yellow background">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <h3 class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </h3>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Andrii, New York</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_4.jpg" alt="Man in the caffee">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <h3 class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </h3>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Alexey, Boston</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_5.jpg"
                        alt="Girl on a yellow background">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <h3 class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </h3>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Tatiana, Las Vegas</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_6.jpg" alt="Man on the waterfront">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <h3 class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </h3>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Yurii, Dallas</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_7.jpg" alt="Man in the forest">
                    <div class=" reviews__box">
                        <article class="reviews__comment">
                            <h3 class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </h3>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Vitaliy, San Antonio</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_8.jpg" alt="Man in the street">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <h3 class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </h3>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Alexey, Chicago</div>
                </div>
            </div>

            <div class="swiper-pagination custom"></div>
        </div>
</section>