<section class="reviews section">
    <div class="container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_1.jpg" alt="">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <p class="reviews__text">I constantly buy milk on this site, the delivery is fast and the
                                products are of high quality. Very pleased with the
                                work of the operators, call back within 5 minutes after sending the order.
                            </p>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Marty, Los Angeles</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_2.jpg" alt="">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <p class="reviews__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
                                laborum doloremque a iusto velit nisi eius, dolore obcaecati, sint quae, neque numquam!
                                Beatae saepe repudiandae ullam enim,
                            </p>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Joy, San Francisco</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_3.jpg" alt="">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <p class="reviews__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Nesciunt eos aperiam hic at! Accusamus, nesciunt.
                            </p>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Bille, New York</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_4.jpg" alt="">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <p class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                                natus.
                            </p>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Alex, Boston</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_5.jpg" alt="">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <p class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
                                blanditiis deserunt mollitia autem saepe voluptatibus, exercitationem vero beatae
                                pariatur! Quidem repudiandae laborum tenetur commodi illum autem deleniti eum minima in.
                            </p>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Anna, Las Vegas</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_6.jpg" alt="">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <p class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, amet
                                dolor? Quis sunt voluptatibus, amet voluptas commodi voluptatum odit enim, fugiat vel
                                magnam optio aut pariatur doloribus modi quod eveniet reiciendis beatae reprehenderit
                                ullam dolorum.
                            </p>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Molly, Dallas</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_7.jpg" alt="">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <p class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                                dignissimos magni consequatur rerum ratione? Fugiat id aspernatur similique explicabo
                                quidem!
                            </p>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Addam, San Antonio</div>
                </div>

                <div class="swiper-slide">
                    <img class="reviews__img" src="./images/customer-reviews/img_8.jpg" alt="">
                    <div class="reviews__box">
                        <article class="reviews__comment">
                            <p class="reviews__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi,
                                repudiandae!
                            </p>
                        </article>
                    </div>
                    <div class="reviews__dots"></div>
                    <div class="reviews__name">Lindsay, Chicago</div>
                </div>
            </div>

            <div class="swiper-pagination custom"></div>
        </div>
</section>