<footer class="footer">
  <div class="footer__container container">
    <div class="footer__text">
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__subtitle">with passion</p>
    </div>
    <div class="footer__contacts">
      <ul class="footer__socials-list list">
        <li class="footer__socials-item">
          <a class="footer__socials-link link" href="https://github.com" target="_blank" rel="noopener noreferrer"
            aria-label="icon GitHub">
            <svg class="footer__socials-icon" width="19" height="19">
              <use href="./images/icon-sprite.svg#icon-github"></use>
            </svg></a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__socials-link link" href="https://telegram.org" target="_blank" rel="noopener noreferrer"
            aria-label="icon Telegram">
            <svg class="footer__socials-icon" width="19" height="15">
              <use href="./images/icon-sprite.svg#icon-telegram"></use>
            </svg></a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__socials-link link" href="https://facebook.com" target="_blank" rel="noopener noreferrer"
            aria-label="icon facebook">
            <svg class="footer__socials-icon" width="8" height="19">
              <use href="./images/icon-sprite.svg#icon-facebook"></use>
            </svg></a>
        </li>
      </ul>
      <span class="footer__contacts-phone">Feel free to contact
        <a class="footer__contacts-link link" href="tel:+610383766284">+61 (0) 383 766 284</a></span>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">
      &copy; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>

<!-- <button class="scroll-to-top">
  <svg class="scroll__face">
    <use href="./images/icon-sprite.svg#icon-ice-cream-totop"></use>
  </svg>
  <a class="scroll__back">UP!</a>
</button> -->

<a href="#home" class="scroll-to-top js-transparent">
  <svg class="scroll__face">
    <use href="./images/icon-sprite.svg#icon-ice-cream-totop"></use>
  </svg>
  <span class="scroll__back">UP!</span>
</a>