<section class="gallery">
<div class="container">
    <h2 class="gallery__title hidden">ice-cream gallery</h2>

    <ul class="gallery__list">
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
        <li class="gallery__item"><a class="gallery__link" href="#"><img class="gallery__img" src="" alt=""></a></li>
    </ul>
</div>

</section>