<section class="gallery">

    <h2 class="gallery__title hidden">ice-cream gallery</h2>

    <ul class="gallery__list">
        <li class="gallery__item">
            <picture>

                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_5.png    1x,
                                                                            ./images/gallery/ice-cream_5@2x.png 2x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_5.png" alt="ice-cream" width="44" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_4.png    1x,
                                                                            ./images/gallery/ice-cream_4@2x.png 2x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_4.png" alt="ice-cream" width="44" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>

            <!-- Набір зображень для мобільних екранів -->
            
            <source media="(max-width: 767px)" srcset="
                                                                        ./images/gallery/ice-cream_6.png 1x,
                                                                        ./images/gallery/ice-cream_6@2x.png 2x,
                                                                        ./images/gallery/ice-cream_6@3x.png 3x
                                                                      " type="image/png" />
            <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_6.png" alt="ice-cream" width="44" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_1.png    1x,
                                                                            ./images/gallery/ice-cream_1@2x.png 2x,
                                                                            ./images/gallery/ice-cream_1@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_1.png" alt="ice-cream" width="90" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_7.png    1x,
                                                                            ./images/gallery/ice-cream_7@2x.png 2x,
                                                                            ./images/gallery/ice-cream_7@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_7.png" alt="ice-cream" width="44" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_9.png    1x,
                                                                            ./images/gallery/ice-cream_9@2x.png 2x,
                                                                            ./images/gallery/ice-cream_9@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_9.png" alt="ice-cream" width="44" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_8.png    1x,
                                                                            ./images/gallery/ice-cream_8@2x.png 2x,
                                                                            ./images/gallery/ice-cream_8@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_8.png" alt="ice-cream" width="44" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_10.png    1x,
                                                                            ./images/gallery/ice-cream_10@2x.png 2x,
                                                                            ./images/gallery/ice-cream_10@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_10.png" alt="ice-cream" width="44" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_12.png    1x,
                                                                            ./images/gallery/ice-cream_12@2x.png 2x,
                                                                            ./images/gallery/ice-cream_12@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_12.png" alt="ice-cream" width="44" >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(max-width: 767px)" srcset="
                                                                            ./images/gallery/ice-cream_11.png    1x,
                                                                            ./images/gallery/ice-cream_11@2x.png 2x,
                                                                            ./images/gallery/ice-cream_11@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/ice-cream_11.png" alt="ice-cream" width="44" >
            </picture>
        </li>
    </ul>


</section>