<section class="gallery" id="gallery">

    <h2 class="gallery__title hidden">ice-cream gallery</h2>

    <ul class="gallery__list">
        <li class="gallery__item">
            <picture>
<source media="(min-width: 1280px)" srcset="
                                                            ./images/gallery/desctop/ice-cream_lg5.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg5@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg5@3x.png 3x
                                                          " type="image/png" />
<!-- Набір зображень для планшетних екранів -->

<source media="(min-width: 768px)" srcset="
                                                            ./images/gallery/tablet/ice-cream_md5.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md5@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md5@3x.png 3x
                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_5.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_5@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_5@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_5.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                                            ./images/gallery/desctop/ice-cream_lg4.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg4@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg4@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для планшетних екранів -->
                
                <source media="(min-width: 768px)" srcset="
                                                                            ./images/gallery/tablet/ice-cream_md4.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md4@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md4@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_4.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_4@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_4@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_4.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
<source media="(min-width: 1280px)" srcset="
                                                            ./images/gallery/desctop/ice-cream_lg6.png 1x,
                                                                        ./images/gallery/desctop/ice-cream_lg6@2x.png 2x,
                                                                        ./images/gallery/desctop/ice-cream_lg6@3x.png 3x
                                                          " type="image/png" />
<!-- Набір зображень для планшетних екранів -->

<source media="(min-width: 768px)" srcset="
                                                                        ./images/gallery/tablet/ice-cream_md6.png 1x,
                                                                        ./images/gallery/tablet/ice-cream_md6@2x.png 2x,
                                                                        ./images/gallery/tablet/ice-cream_md6@3x.png 3x
                                                          " type="image/png" />
            <!-- Набір зображень для мобільних екранів -->
            
            <source media="(min-width: 320px)" srcset="
                                                                        ./images/gallery/mobile/ice-cream_6.png 1x,
                                                                        ./images/gallery/mobile/ice-cream_6@2x.png 2x,
                                                                        ./images/gallery/mobile/ice-cream_6@3x.png 3x
                                                                      " type="image/png" />
            <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_6.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                                            ./images/gallery/desctop/ice-cream_lg1.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg1@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg1@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для планшетних екранів -->
                
                <source media="(min-width: 768px)" srcset="
                                                                            ./images/gallery/tablet/ice-cream_md1.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md1@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md1@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_1.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_1@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_1@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_1.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                                            ./images/gallery/desctop/ice-cream_lg7.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg7@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg7@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для планшетних екранів -->
                
                <source media="(min-width: 768px)" srcset="
                                                                            ./images/gallery/tablet/ice-cream_md7.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md7@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md7@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_7.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_7@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_7@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_7.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                                       ./images/gallery/desctop/ice-cream_lg9.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg9@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg9@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для планшетних екранів -->
                
                <source media="(min-width: 768px)" srcset="
                                                            ./images/gallery/tablet/ice-cream_md9.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md9@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md9@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_9.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_9@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_9@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_9.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                                         ./images/gallery/desctop/ice-cream_lg8.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg8@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg8@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для планшетних екранів -->
                
                <source media="(min-width: 768px)" srcset="
                                                                                ./images/gallery/tablet/ice-cream_md8.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md8@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md8@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_8.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_8@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_8@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_8.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                                             ./images/gallery/desctop/ice-cream_lg10.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg10@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg10@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для планшетних екранів -->
                
                <source media="(min-width: 768px)" srcset="
                                                                            ./images/gallery/tablet/ice-cream_md10.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md10@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md10@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_10.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_10@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_10@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_10.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                                           ./images/gallery/desctop/ice-cream_lg12.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg12@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg12@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для планшетних екранів -->
                
                <source media="(min-width: 768px)" srcset="
                                                                            ./images/gallery/tablet/ice-cream_md12.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md12@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md12@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_12.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_12@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_12@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_12.png" alt="ice-cream"  >
            </picture>
        </li>
        <li class="gallery__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                                            ./images/gallery/desctop/ice-cream_lg11.png    1x,
                                                                            ./images/gallery/desctop/ice-cream_lg11@2x.png 2x,
                                                                            ./images/gallery/desctop/ice-cream_lg11@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для планшетних екранів -->
                
                <source media="(min-width: 768px)" srcset="
                                                                           ./images/gallery/tablet/ice-cream_md11.png    1x,
                                                                            ./images/gallery/tablet/ice-cream_md11@2x.png 2x,
                                                                            ./images/gallery/tablet/ice-cream_md11@3x.png 3x
                                                                          " type="image/png" />
                <!-- Набір зображень для мобільних екранів -->
                
                <source media="(min-width: 320px)" srcset="
                                                                            ./images/gallery/mobile/ice-cream_11.png    1x,
                                                                            ./images/gallery/mobile/ice-cream_11@2x.png 2x,
                                                                            ./images/gallery/mobile/ice-cream_11@3x.png 3x
                                                                          " type="image/png" />
                <!-- Дефолтне зображення, яке відпрацює у будь-якому випадку -->
            <img class="gallery__img" src="./images/gallery/mobile/ice-cream_11.png" alt="ice-cream"  >
            </picture>
        </li>
    </ul>


</section>
