<header class="header container" id="home">
    <a href="#"><img class="header__logo" src="./images/hero-header/logo.png" alt="Логотип Компании" /></a>
    <ul class="header__list">
        <li class="header__item"> <a class="header__link" href="#home">Home</a> </li>
        <li class="header__item"> <a class="header__link" href="#advantages">About us</a> </li>
        <li class="header__item"> <a class="header__link" href="#about">How it's made?</a> </li>
        <li class="header__item"> <a class="header__link" href="#products">Our products</a> </li>
        <li class="header__item"> <a class="header__link" href="#contacts">Contact</a> </li>
    </ul>
    <button class="header__btn" type="button">
        Buy now
        <svg class="header__svg" width="4" height="8">
            <use href="./images/icon-sprite.svg#icon-bracket"></use>
        </svg>
    </button>
    <div href="#" class="burger js-menu">
        <span class="burger__icon"></span>
    </div>
    <div class="header__menu">
        <button class="header__mobile-btn" type="button">
            Buy now
            <svg class="header__svg" width="4" height="8">
                <use href="./images/icon-sprite.svg#icon-bracket"></use>
            </svg>
        </button>
        <ul class="header__list-mobile">
            <li class="header__mobile-item"> <a class="header__link" href="#home">Home</a> </li>
            <li class="header__mobile-item"> <a class="header__link" href="#advantages">About us</a> </li>
            <li class="header__mobile-item"> <a class="header__link" href="#about">How it's made?</a> </li>
            <li class="header__mobile-item"> <a class="header__link" href="#products">Our products</a> </li>
            <li class="header__mobile-item"> <a class="header__link" href="#contacts">Contact</a> </li>
        </ul>
    </div>
</header>
<section class="hero">
    <div class="hero__container container">
        <div class="hero__passion">
            <div>
                <h1 class="hero__text">ice cream made with
                    <span class="hero__title">passion</span>
                </h1>
                <div class="hero__buttons">
                    <a class="hero__link-product" href="#products">Products</a>
                    <a class="hero__link-made" href="#about">How it's made?</a>
                </div>
            </div>
            <ul class="hero__list list">
                <li class="hero__link">
                    <span class="hero__number">16</span>cafes
                </li>
                <li class="hero__link">
                    <span class="hero__number">23</span>food trucks
                </li>
            </ul>
        </div>
        <p class="hero__slide">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
        </p>
        <a class="hero__description" href="#"><svg class="hero__arrow" width="30" height="30">
                <use href="./images/icon-sprite.svg#icon-arrow"></use>
            </svg>
        </a>
    </div>
</section>