<section class="section products" id="products">
	<div class="products__container">
		<div class="products__wrapper">
            <p class="products__subtitle">100% natural</p>
            <h2 class="products__title">Products</h2>
		</div>
			<ul class="products__list">
				<li class="products-card products-card--ice-cream">
					<h3 class="products-card__title">Ice Cream</h3>
					<p class="products-card__description">
						A rich, sweet, creamy frozen food made from variously flavored cream and milk products...
					</p>
               <button class="products-card__button"></button>
            </li>
            <li class="products-card products-card--ice-coffee">
               <h3 class="products-card__title">Ice Coffee</h3>
                  <p class="products-card__description">
							Iced Coffee: the ultimate and tasty refreshment.
                     Drinking iced coffee is a real refreshment compared to hot coffee.
                  </p>
					<button class="products-card__button products-card__button--ice-coffee"></button>
            </li>
            <li class="products-card products-card--milk-shake">
               <h3 class="products-card__title">Milk Shake</h3>
                  <p class="products-card__description">
                        A milk shake is a cold drink made by mixing milk with a flavoring or fruit, and sometimes ice cream.
                  </p>
					<button class="products-card__button"></button>
            </li>
		</ul>
	</div>
</section>