<section class="section products" id="products">
	<div class="container products__container">
		<div class="products__wrapper">
            <p class="products__subtitle">100% natural</p>
            <h2 class="products__title title--anim">Products</h2>
		</div>
			<ul class="products__list">
            <li class="scene products-card">
					<div class="card card--ice-cream">
                  <div class="products-card--front products-card--front--ice-cream">
                     <h3 class="products-card__title">Ice Cream</h3>
                     <p class="products-card__description">
                     A rich, sweet, creamy frozen food made from variously flavored cream and milk products...
                     </p>
                     <span class="products-card__button">
                        <svg class="products__arrow-icon products__arrow-icon--front" width="20" height="20">
                        <use href="./images/icon-sprite.svg#icon-arrow"></use>
                        </svg>
                     </span>
                  </div>
                  <div class="products-card--back products-card--back--ice-cream">
                     <h3 class="products-card__title--back"> Ingredients for the vanilla ice cream</h3>
                        <ul class="products-card__list">
                           <li class="products-card__item"> 
                              <span class="products-card__description">
                                 2 cups whipping cream
                              </span>
                           </li>
                           <li class="products-card__item">
                              <span class="products-card__description">
                                 2 cups half-and-half cream
                              </span>
                           </li>
                           <li class="products-card__item">
                              <span class="products-card__description">
                                 1 cup sugar
                              </span>
                           </li>
                           <li class="products-card__item">
                              <span class="products-card__description">
                                 2 teaspoons vanilla extract
                              </span>
                           </li>
                           <li class="products-card__item">
                              <span class="products-card__description">
                                 Freeze according to manufacturer's directions
                              </span>
                           </li>
                        </ul>
                        <span class="products-card__button">
                        <svg class="products__arrow-icon products__arrow-icon--back" width="20" height="20">
                        <use href="./images/icon-sprite.svg#icon-arrow"></use>
                        </svg>
                     </span>
                  </div>
               </div>
            </li>
            <li class="scene products-card">
               <div class="card card--ice-coffee">
                  <div class="products-card--front products-card--front--ice-coffee">
                     <h3 class="products-card__title">Ice Coffee</h3>
                     <p class="products-card__description">
							Iced Coffee: the ultimate and tasty refreshment. Is one of the most popular  drinks for hot weather. 
                     </p>
                     <span class="products-card__button">
                        <svg class="products__arrow-icon products__arrow-icon--front" width="20" height="20">
                        <use href="./images/icon-sprite.svg#icon-arrow"></use>
                        </svg>
                     </span>
                  </div>
                  <div class="products-card--back products-card--back--ice-coffee">
                        <h3 class="products-card__title--back">Ingredients for the delicious 
                           ice coffe</h3>
                        <ul class="products-card__list">
                           <li class="products-card__item">
                              <span class="products-card__description">
                                 Pour the melted ice cream into an empty ice cube tray and freeze until frozen solid, about <br> 2 hours.
                              </span>
                           </li>
                           <li class="products-card__item">
                              <span class="products-card__description">
                                 Transfer the ice cream cubes  to 2 tall glasses and pour 1/2 cup coffee into each.
                              </span>
                           </li>
                        </ul>
                        <span class="products-card__button">
                        <svg class="products__arrow-icon products__arrow-icon--back" width="20" height="20">
                        <use href="./images/icon-sprite.svg#icon-arrow"></use>
                        </svg>
                     </span>
                  </div>
               </div>
            </li>
            <li class="scene products-card">
            <div class="card card--milk-shake">
               <div class="products-card--front products-card--front--milk-shake">
                  <h3 class="products-card__title">Milk Shake</h3>
                  <p class="products-card__description">
                        A milk shake is a cold drink made by mixing milk with a flavoring or fruit, and sometimes ice cream.
                  </p>
                  <span class="products-card__button">
                     <svg class="products__arrow-icon products__arrow-icon--front" width="20" height="20">
                     <use href="./images/icon-sprite.svg#icon-arrow"></use>
                     </svg>
                  </span>
               </div>
               <div class="products-card--back products-card--back--milk-shake">
                     <h3 class="products-card__title--back">Ingredients for the vannila milk shake</h3>
                     <ul class="products-card__list">
                        <li class="products-card__item">
                           <span class="products-card__description">
                              4 large scoops (about 1 1/2 c.) vanilla ice cream
                           </span>
                        </li>
                        <li class="products-card__item">
                           <span class="products-card__description">
                              1/4 c. milk
                           </span>
                        </li>
                        <li class="products-card__item">
                           <span class="products-card__description">
                              In a blender, blend together  <br> ice cream and milk
                           </span>
                        </li>
                        <li class="products-card__item"> 
                           <span class="products-card__description">
                              Pour into a glass and serve
                           </span>
                        </li>
                     </ul>
                     <span class="products-card__button">
                        <svg class="products__arrow-icon products__arrow-icon--back" width="20" height="20">
                        <use href="./images/icon-sprite.svg#icon-arrow"></use>
                        </svg>
                     </span>
               </div>
            </div>
            </li>
		</ul>
	</div>
</section>