// ................................................Bcg img
.about--overlay {
    background-color: getColor(background-section);
    background-image: url('/src/images/about/mobile/1x/sectionbg1x.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 70% 60%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        & {
            background-image: url('/src/images/about/mobile/2x/sectionbg2x.png');
        }
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        & {
            background-image: url('/src/images/about/mobile/3x/sectionbg3x.png');
        }
    }

    @media screen and (min-width: getSize(tablet)) {
        background-image: none;
    }

    @media screen and (min-width: getSize(desktop)) {
        background-image: url('/src/images/about/desktop/1x/sectionbg1x.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 70% 60%;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url('/src/images/about/desktop/2x/sectionbg2x.png');
            }
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            & {
                background-image: url('/src/images/about/desktop/3x/sectionbg3x.png');
            }
        }
    }

}

// ............................................Titles section
.about__uppertitle {
    @extend %caption;
    margin-bottom: 15px;

    @media screen and (min-width: getSize(desktop)) {
        transition: transform 500ms getProperty(cubic);

        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }
}

.about__title {
    @extend %title;
    margin-bottom: 32px;

    @media screen and (min-width: getSize(tablet)) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: getSize(desktop)) {
        margin-bottom: 60px;
        transition: transform 500ms getProperty(cubic);

        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }
}

// ...........................................Container main inform.
.about__container {
    @media screen and (min-width: getSize(tablet)) {
        display: flex;
    }

    @media screen and (min-width: getSize(desktop)) {
        justify-content: space-evenly;
    }
}

// ...........................................Container all img
.about__container--img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (min-width: getSize(tablet)) {
        margin-right: 32px;
        margin-bottom: 0;
    }

    @media screen and (min-width: getSize(desktop)) {
        margin-bottom: 0;
        margin-right: 0;
    }
}

.about__img {
    // width: 280px;
    // height: 279px;

    @media screen and (min-width: getSize(tablet)) {
        width: 336px;
        height: 335px;
    }

    @media screen and (min-width: getSize(desktop)) {
        width: 501px;
        height: 501px;
    }
}

// .............................................Main inform.
.about__content {
    padding-right: 40px;

    @media screen and (min-width: getSize(tablet)) {
        width: 334px;
        padding: 0;
    }

    @media screen and (min-width: getSize(desktop)) {
        width: 463px;
        padding-top: 60px;
    }
}

.about__subtitle {
    margin-bottom: 40px;

    @media screen and (min-width: getSize(tablet)) {
        font-size: 14px;
        line-height: 25px;
    }

    @media screen and (min-width: getSize(desktop)) {
        font-size: 16px;
        line-height: 28px;
    }
}

.about__description,
.about__additional {
    margin-bottom: 20px;
    color: getColor(copy);

}

// .............................................Main button
.about__button {
    @include btn--s-about(14px, 18px);
    padding: 17px 0;

    @media screen and (min-width: getSize(tablet)) {
        @include btn--s-about(16px, 25px);
    }
}

// ...........................................Modal menu

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100%;
    height: 100%;


    background-color: #d4144380;

    opacity: 0;
    visibility: hidden;
    transition: all getProperty(time) getProperty(cubic);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 650px;
    z-index: 30;

    padding: 20px;


    background-color: getColor(primary);
    overflow-y: auto;
    border-radius: 15px;

    opacity: 0;
    visibility: hidden;
    transition: all getProperty(time) getProperty(cubic);

    @media screen and (min-width: getSize(tablet)) {
        display: flex;
    }
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}


// // ........................................Read more inform.
.modal__content {
    max-width: 250px;
    padding: 30px;
    margin-right: 15px;
    background-color: rgba(212, 20, 67, 0.1);


    @media screen and (max-width: 767.98px) {
        display: none;
    }
}

.form__container {
    flex-grow: 1;
}

.modal__btn {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;

    border: 1px solid getColor(accent);
    border-radius: 15%;
    background-color: transparent;

    cursor: pointer;
}

.modal__title {
    display: inline-block;
    margin-bottom: 10px;

    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.form__group {
    position: relative;
    display: block;
    margin-bottom: 20px;
    text-align: left;
}

.form__label {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;

    font-size: 14px;

    &:before {
        content: "\002A";
        position: absolute;
        top: 0;
        right: -12px;
        color: getColor(accent);
    }
}

.form__input {
    width: 100%;
    padding: 10px 30px;

    border-radius: 5px;
    border: 1px solid getColor(pagination-active);
    outline: transparent;
}

// // ........................................Part of icons
.alert__warning,
.alert__error {
    position: absolute;
    bottom: -22px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    font-size: 10px;
    letter-spacing: -0.6em;
    opacity: 0;
    transition: 350ms getProperty(cubic) 100ms;
}

.alert__warning.warning {
    bottom: -40px;

    @media screen and (min-width: getSize(tablet)) {
        bottom: -22px;
    }
}

.alert__error {
    color: #e22f37;
}

.alert__warning {
    color: #ffc039;
}

.form__input:not(:placeholder-shown)~.alert__warning,
.form__input:not(:placeholder-shown)~.alert__icon--warning {
    opacity: 0;
}

.form__input:focus~.alert__warning,
.form__input:focus~.alert__icon--warning {
    letter-spacing: 0.01em;
    opacity: 1;
    transform: scale(1);
}

.form__input:invalid:not(:placeholder-shown)~.alert__error,
.form__input:invalid:not(:placeholder-shown)~.alert__icon--error {
    letter-spacing: 0.01em;
    opacity: 1;
    transform: scale(1);
}

.alert__icon--error,
.alert__icon--warning {
    position: absolute;
    right: 10px;
    bottom: 12%;
    transform: translateY(-12%);
    display: inline-flex;
    fill: currentColor;
    opacity: 0;
    transform: scale(0.3);

    transition: opacity 350ms getProperty(cubic) 100ms, transform 350ms getProperty(cubic) 100ms;
}

.alert__icon--error {
    fill: #e22f37;
}

.alert__icon--warning {
    fill: #ffc039;
}

// // ...............................Icon phone and tel
.alert__icon--user {
    position: absolute;
    bottom: 10px;
    left: 8px;

    fill: getColor(accent);
    transition: transform 350ms getProperty(cubic), fill 400ms getProperty(cubic);
}

.form__input:valid:not(:placeholder-shown)~.alert__icon--user {
    fill: #69e883;
}

.form__input:focus~.alert__icon--user {
    fill: #ffc039;
}

.form__input:invalid:not(:placeholder-shown)~.alert__icon--user {
    fill: #e22f37;
}

.form__input:invalid:not(:placeholder-shown) {
    border-color: #e22f37;
}

.form__input:valid:not(:placeholder-shown) {
    border-color: #69e883;
}

// ...............................Checkbox
.form-policy {
    display: flex;
    justify-content: center;
    padding: 20px;

    @media screen and (min-width: getSize(tablet)) {
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
    }
}

.form-policy__container {
    position: relative;

    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;

    cursor: pointer;
}

.form-policy__icon--check {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 4px;
    transform: scale(0.9);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-policy__checkbox:checked+& {
        transform: scale(1);
        opacity: 1;
        fill: #d4144380;
    }
}

.form-policy__checkbox:hover~.form-policy__icon--uncheck,
.form-policy__checkbox:focus~.form-policy__icon--uncheck {
    border-color: red;
}

.form-policy__checkbox:hover:checked~.form-policy__icon--uncheck {
    filter: getShadows(btn);
}

.form-policy__icon--uncheck {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #212121;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-policy__checkbox:checked~& {
        border-color: #d4144380;
    }
}

// ........................Button
.form__btn {
    display: inline-block;
    padding: 5px;
    background-color: getColor(background-hero);
    text-transform: uppercase;
}