.advantages{
    background-color: getColor(background-section);
    outline: 1px solid red;
}

.advantage__descr{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 2.0;

    color: getColor(secondary);
}

.advantage__title{
    
}