.contacts {
    padding-bottom: 40px;
    background: linear-gradient(180deg, #fff 302px,#fff5f6 0);

    @include bpoint(tablet) {
        padding-top: 20px;
        background: linear-gradient(180deg, #fff 316px,#fff5f6 0);
    }

    @include bpoint(desktop) {
        padding-top: 60px;
        padding-bottom: 120px;
        background: linear-gradient(180deg, #fff 159px,#fff5f6 0);
    }
}

.container__contacts {
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;

    @include bpoint(tablet) {
        width: 768px;
        padding: 0 16px;
    }

    @include bpoint(desktop) {
        width: 1280px;
    }
}

.contacts__visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.contacts__card-wrap {
    margin-bottom: 32px;

    @include bpoint(tablet) {
        margin-bottom: 60px;
    }
}

.contacts__list {
    list-style: none;

    @include bpoint(tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.contacts__item {
    width: 100%;
    padding: 40px 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: getColor(active-white);
    box-shadow: getShadow(card);
    border-radius: 24px;
    transition: background getProperty(time) getProperty(cubic);

    &:not(:last-child) {
        margin-bottom: 20px;
    }
    @include bpoint(mobile){
        width: 280px;
    }

    @include bpoint(tablet) {
        // width: 224px;
        flex-basis: calc((100% - 64px) /3);
        margin-bottom: 20px;

        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    @include bpoint(desktop) {
        padding: 40px;

    }
}

.contacts__address {
    padding-bottom: 24px;
    border-bottom: 1px solid getColor(line);
}

.contacts__title {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 16px;

    font-family: getFont(basic);
    font-weight: getWeight(500);
    @include lh(22px, 12px);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: getColor(primary);
    background-color: getColor(background-label-a);
    border-radius: 4px;

    @include bpoint(tablet) {
        margin-bottom: 32px;
        width: 73px;
        height: 28px;

        @include lh(30px, 16px);
        
    }

    &--green {
        width: 130px;
        background-color: getColor(background-label-b);
        @include bpoint(tablet){
            width: 138px;
        }
    }
}

.contacts__location {
    margin-bottom: 8px;
    font-family: getFont(basic);
    font-weight: getWeight(500);
    @include lh(22px, 12px);
    letter-spacing: 0.04em;

    color: getColor(secondary);

    @include bpoint(tablet) {
        @include lh(26px, 14px);
        margin-bottom: 12px;
    }

    @include bpoint(desktop) {
        @include lh(30px, 16px);
        margin-bottom: 8px;
    }
}

.contacts__text {
    font-family: getFont(basic);
    font-weight: getWeight(500);
    @include lh(18px, 12px);
    letter-spacing: 0.04em;

    color: getColor(copy);

    @include bpoint(tablet) {
        @include lh(23px, 14px);
    }

    @include bpoint(desktop) {
        @include lh(30px, 16px);
    }
}

.contacts__work-time {
    padding: 24px 0;

    font-family: getFont(basic);
    font-weight: getWeight(500);
    @include lh(22px, 12px);

    border-bottom: 1px solid getColor(line);

    @include bpoint(tablet) {
        padding: 32px 0;
        @include lh(26px, 14px);
    }

    @include bpoint(desktop) {
        @include lh(30px, 16px);
    }

}

.contacts__day {

    color: getColor(secondary);
}

.contacts__time {
    color: getColor(active-accent);

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}
@include bpoint(tablet){
    .contacts__time:not(:last-child){
        margin-bottom: 12px;
    }
}

.contacts__connection {
    padding-top: 24px;
    list-style: none;
    
    @include bpoint(tablet){
        padding-top: 32px;
    }
}

.contacts__link {
    font-family: getFont(basic);
    font-weight: getWeight(500);
    @include lh(18px, 12px);
    cursor: pointer;
    color: getColor(copy);
    text-decoration: none;
    transition: color getProperty(time) getProperty(cubic);

    @include bpoint(tablet) {
        @include lh(26px, 14px);
    }

    @include bpoint(desktop) {
        @include lh(30px, 16px);
    }
    
    &:hover,
    &:focus {
        color: getColor(accent);
    }
}

.contacts__button-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    @include bpoint(tablet){
      flex-direction: row;
    }
}
.contacts__button--locations{
    margin-bottom: 10px;
    @include  btn--dark(160px, 44px);

    color: getColor(primary);

    @include bpoint(tablet){
        margin: 0 15px 0 0;
        @include  btn--dark(200px, 44px)
    }
}
.contacts__button--franchise{
    @include  btn--light(160px, 44px);

    color: getColor(accent);

    @include bpoint(tablet){
        @include  btn--light(200px, 44px)
    }
}
.contacts__button--svg{
    margin-left: 8px;
    fill: currentColor;

    @include bpoint(tablet){
        margin-left: 14px;
    }
}