.contacts {
    background: linear-gradient(180deg, #fff 302px, #fff5f6 0);

    @include bpoint(tablet) {
        padding-top: 20px;
        background: linear-gradient(180deg, #fff 316px, #fff5f6 0);
    }

    @include bpoint(desktop) {
        padding-top: 60px;
        background: linear-gradient(180deg, #fff 159px, #fff5f6 0);
    }
}

.contacts__card-wrap {
    margin-bottom: 32px;

    @include bpoint(tablet) {
        margin-bottom: 60px;
    }
}

.contacts__list {
    @extend %list;

    @include bpoint(tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.contacts__item {
    width: 100%;
    // max-width: 280px;
    padding: 40px 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: getColor(active-white);
    box-shadow: getShadow(card);
    border-radius: 24px;
    transition: transform getProperty(time) getProperty(cubic), box-shadow getProperty(time) getProperty(cubic);

    @include bpoint(mobile) {
        width: 280px;
    }

    @include bpoint(tablet) {
        flex-basis: calc((100% - 64px) /3);

        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    @include bpoint(desktop) {
        padding: 40px;

    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.3);
    }
}

@media screen and(max-width: 767px) {
    .contacts__item:not(:last-child) {
        margin-bottom: 20px;
    }

}

.contacts__address {
    padding-bottom: 24px;

    @include bpoint(tablet) {
        padding-bottom: 32px;
    }
}

.contacts__title {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 16px;

    text-transform: uppercase;

    color: getColor(primary);
    background-color: getColor(background-label-a);
    border-radius: 4px;

    @include bpoint(tablet) {
        margin-bottom: 32px;
        width: 73px;
        height: 28px;
        font-size: 16px;

        @include lh(30px, 16px);

    }

    &--green {
        width: 130px;
        background-color: getColor(background-label-b);

        @include bpoint(tablet) {
            width: 138px;
        }
    }
}

.contacts__location {
    margin-bottom: 8px;
    color: getColor(secondary);

    @include bpoint(tablet) {
        @include lh(26px, 14px);
        margin-bottom: 12px;
    }

    @include bpoint(desktop) {
        @include lh(30px, 16px);
        margin-bottom: 8px;
    }
}

.contacts__text {
    color: getColor(copy);

    @include bpoint(tablet) {
        @include lh(23px, 14px);
    }

    @include bpoint(desktop) {
        @include lh(30px, 16px);
    }
}

.contacts__work {
    padding: 24px 0;
    @extend %list;
    border-top: 1px solid getColor(line);
    border-bottom: 1px solid getColor(line);

    @include bpoint(tablet) {
        padding: 32px 0;

    }

}

.contacts__work-time {

    &:not(:last-child) {
        margin-bottom: 8px;
    }

}

@include bpoint(tablet) {
    .contacts__work-time:not(:last-child) {
        margin-bottom: 12px;
    }
}

.contacts__day {

    color: getColor(secondary);

    @include bpoint(tablet) {
        @include lh(26px, 14px);
    }

    @include bpoint(desktop) {
        @include lh(30px, 16px);
    }
}

.contacts__time {
    color: getColor(active-accent);

}

.contacts__connection {
    padding-top: 24px;
    @extend %list;

    @include bpoint(tablet) {
        padding-top: 32px;
    }
}

.contacts__link {
    cursor: pointer;
    color: getColor(copy);
    text-decoration: none;
    transition: color getProperty(time) getProperty(cubic);

    @include bpoint(tablet) {
        @include lh(26px, 14px);
    }

    @include bpoint(desktop) {
        @include lh(30px, 16px);
    }

    &:hover,
    &:focus {
        color: getColor(accent);
    }
}

.contacts__button-wrap {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    @include bpoint(tablet) {
        flex-direction: row;
    }
}

.contacts__button--locations {
    margin-bottom: 10px;
    padding: 0;
    @include btn--dark(160px, 44px);

    color: getColor(primary);

    @include bpoint(tablet) {
        margin: 0 15px 0 0;
        @include btn--dark(200px, 44px)
    }
}

.contacts__button--franchise {
    @include btn--light(160px, 44px);

    color: getColor(accent);

    @include bpoint(tablet) {
        @include btn--light(200px, 44px)
    }
}

.contacts__button--svg {
    margin-left: 8px;
    fill: currentColor;

    @include bpoint(tablet) {
        margin-left: 14px;
    }
}


// Modal Franchise



.contacts-modal {
    position: fixed;
    background-color: getColor(active-accent);
    width: 90vw;
    max-width: 440px;
    // width: 90%;
    @include bpoint(tablet) {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        // height: 95vh;
    }

    // @include bpoint(desktop) {
    //     max-width: 900px;
    // }
}

.contacts-franchise__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    width: 30px;
    height: 30px;

    background-color: getColor(active-accent);
    border: 2px solid getColor(accent);
    border-radius: 50%;
    outline: transparent;
    cursor: pointer;
    transition: background-color getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        background-color: getColor(primary);
        // border: 3px solid getColor(btn-hover-dark);
    }
}

.contacts-modal__icon {
    fill: getColor(accent);
}

.contacts-modal__title {
    display: none;

    @include bpoint(tablet) {
        display: block;
        margin-bottom: 10px;
        justify-content: center;

        font-family: getFont(accent);
        line-height: 30px;
        font-size: 18px;
        color: getColor(accent);
    }
}

.contacts-modal__list {
    display: none;
    @extend %list;

    @include bpoint(tablet) {
        display: flex;
        flex-wrap: wrap;
        // margin-left: -20px;
        justify-content: start;
        align-items: center;
       
        

    }
}

.contacts-modal__item {
    margin-left: 20px;
    box-sizing: border-box;
    transform: scale(1.1);
    transition: transform getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        transform: scale(1.3);
    }

    @include bpoint(tablet) {
        width: calc(100% / 5 - 20px);
        margin-bottom: 10px;

        .contacts-modal__item:nth-last-child(n + 6){
            margin-bottom: 0;
        }

        .contacts-modal__item:nth-last-child(5n + 5){
            margin-left: 0;
        }
    }
}




.franchise-form__title {
    // display: flex;
    margin-bottom: 30px;
    padding-top: 40px;
    justify-content: center;

    font-family: getFont(accent);
    line-height: 30px;
    font-size: 18px;
    color: getColor(accent);
    
    @include bpoint(tablet) {
       margin-bottom: 5px;
       padding-top: 10px;
    }
}

.franchise-form {
    display: flex;
    flex-direction: column;

    &__label {
        display: block;
        flex-direction: column;
        margin-bottom: 10px;

        @include bpoint(tablet) {
            margin-bottom: 5px;
         }

    }

    &__name {
        display: block;
        text-align: left;
        color: getColor(accent);

        margin-bottom: 5px;
    }

    &__container {
        position: relative;
        display: block;

    }

    &__input {
        display: block;
        width: 100%;
        height: 40px;
        padding: 12px 12px 12px 42px;

        color: getColor(accent);
        background-color: getColor(active-accent);
        border: 2px solid getColor(accent);
        border-radius: 4px;
        cursor: pointer;
        outline: transparent;

        transition: border getProperty(time) getProperty(cubic);

    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 15px;
        cursor: pointer;
        transform: translateY(-50%);

        color: getColor(primary);
        fill: currentColor;
        transition: fill getProperty(time) getProperty(cubic);

    }
}



.franchise-form__label:hover .franchise-form__input,
.franchise-form__label:focus-within .franchise-form__input {
    border: 2px solid getColor(btn-hover-dark);
}

.franchise-form__label:hover .franchise-form__icon,
.franchise-form__label:focus-within .franchise-form__icon {
    fill: getColor(accent);
}


.checkbox-franchise {
    position: relative;
    display: flex;

    font-size: 12px;
    line-height: 22px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // margin-top: 10px;
    margin-bottom: 30px;
    @include bpoint(tablet) {
        margin-bottom: 10px;
     }

    &__input {
        position: absolute;
    }

}


.checkbox-franchise__icon {
    fill: getColor(active-accent);
    margin-right: 8px;

    background-color: getColor(active-accent);
    border: 2px solid getColor(accent);
    border-radius: 4px;

    transition: border getProperty(time) getProperty(cubic), fill getProperty(time) getProperty(cubic), background-color getProperty(time) getProperty(cubic);

    .checkbox-franchise__input:checked+& {
        // border-color: getColor(active-black);
        background-color: getColor(primary);
        fill: getColor(secondary);
        background-size: contain;
        background-origin: border-box;
    }

    .checkbox-franchice__input:hover~&,
    .checkbox-franchice__input:focus-within~& {
        border: 2px solid getColor(btn-hover-dark);
    }

}

.checkbox-franchise__label {
    color: getColor(accent);
}

.franchise-btn {
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 44px;

    font-family: getFont(accent);
    font-weight: 700;
    font-size: 18px;
    @include lh (30px, 18px);
    color: getColor(accent);

    background-color: getColor(active-accent);
    border: 2px solid getColor(accent);
    border-radius: 22px;
    outline: transparent;

    transition: color getProperty(time) getProperty(cubic), background-color getProperty(time) getProperty(cubic),
        box-shadow getProperty(time) getProperty(cubic);

    cursor: pointer;

    &:hover,
    &:focus {
        color: getColor(primary);
        background-color: getColor(btn-hover-dark);
        box-shadow: getShadow(btn);

    }
}

// Modal Location

.contacts-location__modal {
    position: fixed;
    background-color: getColor(active-accent);
    width: 90%;
    height: 500px;

    @include bpoint(tablet) {
        display: flex;
        flex-direction: column;
    }

}

.contacts-location__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    width: 30px;
    height: 30px;

    background-color: getColor(active-accent);
    border: 2px solid getColor(accent);
    border-radius: 50%;
    outline: transparent;
    cursor: pointer;
    transition: background-color getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        background-color: getColor(primary);
        // border: 3px solid getColor(btn-hover-dark);
    }
}

.contacts-location__title {
    margin-bottom: 15px;
    padding-top: 15px;
    justify-content: center;

    font-family: getFont(accent);
    line-height: 30px;
    font-size: 18px;
    color: getColor(accent);
}

.frame {
    width: 90%;
    height: 85%;

    @include bpoint(tablet) {
        width: 100%;
        height: 100%;
    }
}