.footer {
    background-color: getColor(background-section);
}

.footer-container {
    @media screen and (min-width: getSize(mobile)) {
        margin-bottom: 40px;
    }
}

.footer-text {
    max-width: 234px;
    margin-bottom: 40px;
}

.footer-text__title {
    font-family: getFont(accent);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16;
    color: getColor(active-accent);

    margin-bottom: 16px;
}

.footer-text__subtitle {
    font-family: getFont(accent);
    text-transform: uppercase;
    font-size: 34px;
    line-height: 1.14;

    color: getColor(accent);
}

.footer-socials__list {
    @extend %list;

    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

}

.footer-contacts__phone {
    display: flex;
    justify-content: flex-end;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.833;

    color: getColor(active-black);
}

.footer__contacts-link {
    @extend %link;

    margin-left: 3px;

    color: getColor(accent);
}

.footer-copyright {
    border-top: 1px solid #e1e1e1;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 83px;

}

.footer-copyright__text {
    width: 200px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;

    padding: 0 20px;

    color: getColor(copy);
}