.footer {
    background-color: getColor(background-section);
}

.footer__container {
    padding: 40px 20px;

    @include bpoint(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.footer__text {
    max-width: 234px;
    margin-bottom: 40px;

    @include bpoint(tablet) {
        max-width: 340px;
    }

    @include bpoint(desktop) {
        max-width: 50%;
    }
}

.footer__title {
    font-family: getFont(accent);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16;
    color: getColor(active-accent);

    margin-bottom: 16px;

    @include bpoint(tablet) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }

    @include bpoint(desktop) {
        font-size: 30px;
        line-height: 1.133;
        margin-bottom: 15px;
    }
}

.footer__subtitle {
    font-family: getFont(accent);
    text-transform: uppercase;
    font-size: 34px;
    line-height: 1.14;

    color: getColor(accent);

    @include bpoint(tablet) {
        font-size: 48px;
        letter-spacing: .06em;
        margin-bottom: 0;
    }

    @include bpoint(desktop) {
        font-size: 58px;
        line-height: 1.138;
    }
}


.footer__socials-list {
    @extend %list;

    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

}

.footer__socials-item:not(:last-child) {
    margin-right: 28px;

    @include bpoint(tablet) {
        margin-right: 30px;
    }
}

.footer__socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    background-color: getColor(active-accent);
    color: getColor(primary);

    transition: background-color getProperty(time) getProperty(cubic);
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: getColor(btn-hover-dark);
    }

    @include bpoint(tablet) {
        width: 34px;
        height: 34px;
    }

}

.footer__socials-icon {
    fill: currentColor;
}

.footer__contacts-phone {
    display: block;
    text-align: right;

    font-weight: 700;
    line-height: 1.833;

    color: getColor(active-black);

    @include bpoint(tablet) {
        font-size: 14px;
    }

    @include bpoint(desktop) {
        font-size: 16px;
    }
}

.footer__contacts-link {
    @extend %link;

    margin-left: 3px;

    color: getColor(accent);
    transition: color getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        color: getColor(copy);
    }
}

.footer__copyright {
    border-top: 1px solid getColor(line);
}

.footer__copyright-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;

    margin: 16px auto 3px auto;
    padding: 0 82px;

    color: getColor(copy);
}

// SCROLL_TO_TOP

.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background-color: getColor(btn-hover-dark);

    border: none;
    border-radius: 50%;
    cursor: pointer;

    opacity: 0.7;
    z-index: 999;

    transition: opacity getProperty(time) getProperty(cubic),
        visibility getProperty(time) getProperty(cubic);

    animation: slide-top 1s linear 2s infinite alternate both;
}

.js-transparent {
    // display: none;
    opacity: 0;
    visibility: hidden;
}

.scroll__face,
.scroll__back {
    position: absolute;

    transition: 750ms;
    backface-visibility: hidden;
    background-color: getColor(btn-hover-dark);
    border-radius: 50%;
    border: none;
}

.scroll__face {
    width: 35px;
    height: 35px;
    fill: getColor(primary);
}

.scroll__back {
    font-size: 26px;
    line-height: 1.14;
    color: getColor(accent);

    transform: rotateY(180deg);
}

.scroll-to-top:hover .scroll__face,
.scroll-to-top:focus .scroll__face {
    transform: rotateY(180deg);
}

.scroll-to-top:hover .scroll__back,
.scroll-to-top:focus .scroll__back {
    transform: rotateY(360deg);
}

@keyframes slide-top {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(5px);
    }
}