.footer {
    background-color: getColor(background-section);
}

.footer__container {
   padding: 40px 20px;
}

.footer__text {
    max-width: 234px;
    margin-bottom: 40px;
}

.footer__title {
    font-family: getFont(accent);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16;
    color: getColor(active-accent);

    margin-bottom: 16px;
}

.footer__subtitle {
    font-family: getFont(accent);
    text-transform: uppercase;
    font-size: 34px;
    line-height: 1.14;

    color: getColor(accent);
}

.footer__socials-list {
    @extend %list;

    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

}

.footer__socials-item:not(:last-child) {
    margin-right: 30px;
}

.footer__socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    background-color: getColor(active-accent);
    color: getColor(primary);

    transition: background-color getProperty(time) getProperty(cubic);
    border-radius: 50%;

    &:hover, &:focus {
        background-color: getColor(btn-hover-dark);
    }

}

.footer__socials-icon {
    fill: currentColor;
}

.footer__contacts-phone {
    display: block;
    text-align: right;

    font-weight: 700;
    line-height: 1.833;

    color: getColor(active-black);
}

.footer__contacts-link {
    @extend %link;

    margin-left: 3px;

    color: getColor(accent);
}

.footer__copyright {
    border-top: 1px solid getColor(line);
}

.footer__copyright-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;

    margin: 16px auto 3px auto;
    padding: 0 82px;

    color: getColor(copy);
}

.scroll-top {
    position: fixed;
    bottom: 40px;
    right: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    background-color: getColor(active-accent);
    transition: background-color getProperty(time) getProperty(cubic);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    animation: slide-top 1s linear 2s infinite alternate both;
    z-index: 999;

    &:hover, &:focus {
        background-color: getColor(btn-hover-dark);
    }
}

.arrow-top {
    fill: getColor(primary);
}