// Header
.header {
<<<<<<< Updated upstream
    background-color: getColor(background-hero);
}

.nav {
    display: none;
}

// Hero
.hero {
=======
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 2.6%;
    width: 100vw;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;


    @media screen and (max-width: 320px) {
        padding-top: 8px;
        left: 0;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 37px;
    }
}

.header__logo {
    @media screen and (min-width: 1200px) {
        padding-left: 16px;
    }
}

.header__list {
    @extend %list;
    display: flex;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    color: #ffffff;

    @media screen and (max-width: 320px) {
        display: none;
    }
}

.header__item {
    &:not(:last-child) {
        margin-right: 35px;
    }

    &:hover {
        color: #D41443;
    }
}



.header__btn {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
    border: transparent;
    padding-left: 37px;
    padding-right: 37px;
    height: 44px;
    cursor: pointer;

    &:hover {
        background-color: #ECEBEB;
    }

    @media screen and (max-width: 320px) {
        display: none;
    }
}

.header__svg {
    margin-left: 12px;
    fill: #D41443;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: center;
>>>>>>> Stashed changes
    position: relative;

    padding-top: 136px;
    padding-bottom: 158px;
    background-color: getColor(background-hero);
    background-image: url('../images/hero-header/icecream.png'), url('../images/hero-header/circle.png');
    background-repeat: no-repeat;
    background-size: 171px 410px, 346px 346px;
    background-position: 117px 42px, 33px 36px;

    overflow: hidden;
}

<<<<<<< Updated upstream
.hero__box {
    position: relative;
    z-index: 2;
}

.hero__title {
    margin-bottom: 20px;
=======
.burger.is-open {
    & .burger__icon {
        transform: translateX(180%);
    }

    &::after {
        transform: translateY(7px) rotate(-45deg);
    }

    &::before {
        transform: translateY(-7px) rotate(45deg);
    }

    &~.nav {
        visibility: visible;
        transform: translateY(0);
    }
}

.hero {
    background-color: #ffb8ca;

}

.header__mobile-menu {
    @media screen and (max-width: 320px) {
        position: fixed;
        right: 0;
        top: 0;
        width: 250px;
        height: 502px;
        padding-bottom: 171px;
        padding-top: 60px;
        background-color: #E17992;
        transform: translateX(50%);

        &.is-open {
            transform: translateX(0);
        }
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}


.header__btn-mobile {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
    border: transparent;
    padding-left: 37px;
    padding-right: 37px;
    height: 44px;
    margin-bottom: 19px;
    margin-left: 20px;
    cursor: pointer;
}

.header__link {
    color: currentColor;
    text-decoration: none;

    &:focus {
        color: #D41443;
    }
}

.header_mob-menu-list {
    list-style: none;
}

.header_mob-menu-item {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: 1px solid #E18298;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 20px;
}

.hero__container {
    background-image: url(../images/hero-header/icecream.png), url(../images/hero-header/girl.png),
        url(../images/hero-header/milk.png), url(../images/hero-header/circle.png);
    background-repeat: no-repeat;
    background-position: 636px bottom, right bottom, 16px 368px, 517px 54px;
    align-items: center;
    background-size: 236px, 304px, 213px, 534px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 320px) {
        background-image: url(../images/hero-header/icecream.png), url(../images/hero-header/circle.png);
        background-size: 171px, 344px;
        background-position: 117px bottom, 36px 83px;

        height: 502px;
        padding: 194px 82px 158px 20px;

    }

    @media screen and (min-width: 1200px) {
        max-height: 664px;
        padding: 144px 16px 60px 16px;
    }
}
>>>>>>> Stashed changes

    font-family: getFont(accent);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
<<<<<<< Updated upstream
    color: getColor(active-white);
}

.accent {
    font-size: 48px;
    line-height: 0.965;
    color: getColor(accent);
}

.hero__list {
    @extend %list;

    display: flex;
=======
    color: #ffffff;
    width: 260px;
    margin-bottom: 24px;

    @media screen and (max-width: 320px) {
        font-size: 26px;
        line-height: 1.15;
        width: 200px;
        margin-bottom: 20px;
    }
}

.hero__title {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 0.9;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;


    @media screen and (max-width: 320px) {
        font-size: 48px;
        line-height: 0.97;

    }
>>>>>>> Stashed changes
}

.hero__item {
    display: flex;
    align-items: center;
<<<<<<< Updated upstream
    justify-content: center;
=======
    text-align: center;
    color: #ffffff;
    background: #d41443;
    border-radius: 20px;
    padding: 11px 23px;
    border: none;
    margin-right: 12px;
    cursor: pointer;
>>>>>>> Stashed changes

    width: 62px;
    height: 24px;

    color: getColor(active-white);
    background-color: getColor(accent);
    border-radius: 20px;
<<<<<<< Updated upstream
=======
    padding: 11px 23px;
    border: none;
    cursor: pointer;
>>>>>>> Stashed changes

    &:nth-child(2) {
        margin-left: 8px;
        width: 83px;
        color: getColor(accent);
        background-color: getColor(active-white);
    }
}

.hero__link {
    @extend %link;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

<<<<<<< Updated upstream
=======
.hero__nav-product {
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 11px 22px;
    background-color: #D41443;
    border-radius: 20px;
    margin-right: 12px;

    @media screen and (max-width: 320px) {
        font-size: 8px;
        line-height: 1.25;
    }
}

.hero__nav-made {
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    color: #D41443;
    padding: 11px 22px;
    background-color: #ffffff;

    &:hover {
        background-color: #ECEBEB;
    }

    @media screen and (max-width: 320px) {
        font-size: 8px;
        line-height: 1.25;
    }
}

.hero__description {
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 84px;
    margin-left: 213px;
    color: #d41443;

    @media screen and (max-width: 320px) {
        display: none;
    }
}

.hero__arrow {
    fill: currentColor;
}

.hero__passion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 108px;
>>>>>>> Stashed changes
}