// Modal
.modal.modal--first {
    display: block;

    border-radius: 25px;
    background-image: url('../images/hero-header/icecream-pattern.jpg');
    background-size: contain;
}

.form-a__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-a__title {
    @extend %title;
    font-size: 18px;
    margin-bottom: 10px;

    @include bpoint(tablet) {
        font-size: 24px;
    }
}

.input-group {
    padding: 10px;
    width: 100%;

    background-color: getColor(active-white);
    border: 2px solid getColor(active-accent);
    border-radius: 25px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.input-group__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include bpoint(tablet) {
        flex-wrap: nowrap;
    }
}

.input-group__title {
    font-weight: 700;
    font-size: 18px;
}

.form-a__list {
    text-align: left;
}

.input-group__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include bpoint(tablet) {
        flex-direction: column;
    }
}

.input-group__img {
    margin-bottom: 10px;

    width: 50px;
    height: 50px;

    transition: transform getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        transform: scale(1.2);
    }

    @include bpoint(tablet) {
        width: 100px;
        height: 100px;
    }
}

.input-group__label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    text-align: center;
    color: getColor(copy);

    &:hover,
    &:focus {
        color: getColor(active-accent);
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include bpoint(tablet) {
        flex-direction: column;
    }
}

.input-group__input {
    padding: 5px 10px;
    margin-left: 5px;
    max-width: 150px;

    border: 1px solid getColor(active-accent);
    border-radius: 4px;
    color: getColor(copy);
}

.btn__form-a {
    @include btn--dark(150px, 40px);
}

// End modal

// Burger menu
.burger {
    position: relative;
    top: 0;
    left: 0;

    display: inline-block;
    width: 40px;
    height: 40px;

    overflow: hidden;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 12px;
        left: 8px;

        width: 24px;
        height: 2px;
        background-color: getColor(accent);

        border-radius: 4px;

        transition: transform getProperty(time) getProperty(cubic),
            background-color getProperty(time) getProperty(cubic);
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 12px;
        left: 8px;

        width: 24px;
        height: 2px;
        background-color: getColor(accent);

        border-radius: 4px;

        transition: transform getProperty(time) getProperty(cubic),
            background-color getProperty(time) getProperty(cubic);
    }

    @include bpoint(tablet) {
        margin-left: auto;
        margin-right: 32px;
    }

    @include bpoint(desktop) {
        display: none;
    }
}

.burger__icon {
    position: absolute;
    top: 19px;
    left: 8px;


    width: 24px;
    height: 2px;
    background-color: getColor(accent);

    border-radius: 4px;

    transition: transform getProperty(time) getProperty(cubic),
        background-color getProperty(time) getProperty(cubic);
}

.burger.is-open {

    & .burger__icon {
        background-color: getColor(active-white);
        transform: translateX(150%);
    }

    &::after {
        background-color: getColor(active-white);
        transform: translateY(7px) rotate(-45deg);
    }

    &::before {
        background-color: getColor(active-white);
        transform: translateY(-7px) rotate(45deg);
    }

    &~.nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

// Header
.header {
    position: relative;
    // padding: 10px 0;
    background-color: getColor(background-hero);

    @include bpoint(tablet) {
        // padding-top: 32px;
    }

    @include bpoint(desktop) {
        // padding-top: 37px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    min-width: 199px;
    height: 50px;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 998;

    width: 100vw;
    height: 100vh;

    background-color: getColor(background-menu);

    transform: translateY(-150%);
    opacity: 0;
    visibility: hidden;

    transition: transform getProperty(time) getProperty(cubic),
        opacity getProperty(time) getProperty(cubic),
        visibility getProperty(time) getProperty(cubic);

    @include bpoint(desktop) {
        position: static;


        margin-left: auto;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        width: 100%;
        height: 100%;

        background-color: transparent;

        opacity: 1;
        visibility: visible;
        transform: translate(0);

    }
}

.btn--menu {
    @include btn--light(209px, 44px);

    margin-top: 60px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;

    @include bpoint(desktop) {
        margin: 0;
        width: 159px;
        order: 1;
    }
}

.btn__icon {
    margin-left: 12px;
    width: 9px;
    height: 9px;
    fill: currentColor;
}

.nav__list {
    @extend %list;

    @include bpoint(tablet) {
        text-align: center;
    }

    @include bpoint(desktop) {
        margin-right: 141px;
        display: flex;
    }
}

.nav__item {
    padding: 12px 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.285;
    color: getColor(active-white);

    border-top: 1px solid getColor(line-menu);

    &:last-child {
        border-bottom: 1px solid getColor(line-menu);
    }

    &--active {
        color: getColor(accent)
    }

    @include bpoint(desktop) {
        margin-right: 35px;
        padding: 20px 0;
        border: none;

        &:last-child {
            margin-right: 0;
            border: none;
        }
    }
}

.nav__link {
    @extend %link;
}

.btn--nav {
    display: none;

    @include bpoint(tablet) {
        @include btn--light(160px, 44px);

        display: flex;
        align-items: center;
    }

    @include bpoint(desktop) {
        display: none;
    }
}

// Hero
// BG
.hero {
    position: relative;

    padding-top: 136px;
    padding-bottom: 158px;

    background-color: getColor(background-hero);
    background-image: url('../images/hero-header/circle.png');
    background-size: 344px 344px;
    background-position: 36px 83px;
    background-repeat: no-repeat;
    overflow: hidden;

    @include bpoint(tablet) {
        padding-top: 20px;
        padding-bottom: 20px;

        background-size: 335px 335px;
        background-position: 58% 10%;
    }

    @include bpoint(desktop) {
        padding-top: 60px;
        padding-bottom: 60px;

        background-size: 534px 534px;
        background-position: 80% 0px;
    }
}

.hero__container {
    position: relative;
    z-index: 3;

    @include bpoint (tablet) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

.hero__bg {
    position: absolute;
    z-index: 1;

    &--girl {
        display: none;

        @include bpoint(tablet) {
            bottom: 0;
            right: 10%;

            display: block;
            width: 190px;
            height: 150px;
        }

        @include bpoint(desktop) {
            bottom: 0;
            right: 1%;

            width: 304px;
            height: 241px;
            animation: girl 5s ease-in-out;

        }
    }

    &--icecream {
        bottom: 0;
        right: 10%;

        width: 171px;
        height: 410px;


        @include bpoint(tablet) {
            bottom: 0;
            right: 39.5%;

            width: 143px;
            height: 336px;
        }

        @include bpoint(desktop) {
            bottom: 0;
            right: 20%;

            width: 236px;
            height: 557px;
            animation: ice-cream 2s;
        }
    }
}

@keyframes ice-cream {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes girl {
    
    0% {
        transform: translateX(110%);
        
    }
    50% {
        transform: translateX(-10%);
        
    }
    70% {
        transform: translateX(10%);
        
    }
    100% {
        transform: translateX(0);
        
    }
    
}

.hero__title {
    font-family: getFont(accent);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor(primary);
}

.hero__subtitle {
    font-family: getFont(accent);
    font-weight: 400;
    font-size: 48px;
    line-height: 0.965;
    text-transform: uppercase;
    color: getColor(accent);
}

.hero__list {
    @extend %list;
    margin-top: 20px;
    display: flex;

    @include bpoint(desktop) {
        margin-top: 24px;
    }
}

.hero__item {
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.hero__link--dark {
    @include btn--dark(63px, 24px);

    @include bpoint(desktop) {
        width: 107px;
        height: 40px;
    }
}

.hero__link--light {
    @include btn--light(83px, 24px);

    @include bpoint(desktop) {
        width: 138px;
        height: 40px;
    }
}

.hero__link {
    @extend %link;
    display: inline-flex;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    @include bpoint(desktop) {
        font-size: 14px;
        line-height: 1.286;
    }
}

.hero__scroe {
    display: none;

    @include bpoint(tablet) {
        margin-right: 10px;
        display: block;
    }
}

.score__list {
    @extend %list;
    width: 50px;
}

.score__item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: getColor(active-white);

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: -12%;
        display: block;
        width: 16px;
        height: 16px;
        background-color: getColor(active-white);
        border-radius: 50%;

        @include bpoint(desktop) {
            top: -5%;
            right: -25%;
            width: 30px;
            height: 30px;
        }
    }

    @include bpoint(desktop) {
        font-size: 14px;
        line-height: 1.286;
    }
}

.score__number {
    z-index: 10;

    font-family: getFont(accent);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor(accent);

    @include bpoint(desktop) {
        font-size: 46px;
        line-height: 1.15;
    }
}

.hero__description {
    display: none;

    @include bpoint(tablet) {
        margin-top: 20px;

        display: flex;
        align-items: center;
    }
}

.hero__more {
    width: 114px;
   
}

.hero__text {
    
    display: none;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: getColor(primary);

    @include bpoint(desktop) {
        display: block;
    }
}

.hero__btn {
    margin-top: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;

    background-color: getColor(active-white);
    border-radius: 50%;
    &:hover {
        background-color: getColor(copy);
    }

    @include bpoint (desktop) {
        margin-top: 7px;
    }
}

.hero__icon {
    width: 14px;
    height: 14px;
    fill: getColor(accent);
    
}